
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if(TempData["msg"]!=null)
            {
                <p class="alert alert success">@TempData["msg"]</p>
            }
<a href="/Student/Create">Create</a>
@if (Model.Count != 0)
{
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Id</th>
            <th>Cgpa</th>
            <th>Dob</th>
        </tr>
        @foreach (var s in Model)
        {
            <tr>
                <td>@s.Name</td>
                <td>@s.Id</td>
                <td>@s.Cgpa</td>
                <td>@s.Dob </td>
                <td>
                    <a href="/Student/Edit/@s.Id" class="btn btn btn-primary">Edit</a>
                    <a href="/Student/Delete/@s.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </table>
}
else
            {
                <h1>No Data</h1>
            }

